html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid hsl(229, 100%, 71%);
  border-right: 1px solid hsl(229, 100%, 71%);
  font-family: "Lato", sans-serif;
  background-color: hsl(201, 100%, 97%);
}

.navigation {
  outline: none;
  border-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: hsl(229, 100%, 71%);
  padding-left: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navigation__unorderedList {
  list-style: none;
}

.navigation__link {
  margin: auto;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  padding-inline: 1px;
}

.navigation__link:focus {
  outline: 2px solid currentColor;
}

.navigation__link:hover {
  color: hsl(212, 100%, 50%);
  border-bottom: 2px solid;
  outline: none;
}

.navigation__link:active {
  color: hsl(348, 83%, 47%);
}
.dark {
  color: hsl(0, 0%, 91%);
  background: hsl(0, 0%, 15%);
}

.button {
  margin-left: 20px;
  color: hsl(231, 100%, 55%);
  border-color: hsl(229, 100%, 71%);
  background-color: hsl(224, 100%, 83%);
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  color: hsl(230, 100%, 94%);
  background-color: hsl(229, 100%, 71%);
}

.header {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: hsl(229, 100%, 65%);
  font-weight: bold;
  text-shadow: 3px 3px 3px hsl(224, 100%, 83%);
}

.table {
  margin: auto;
  font-size: 20px;
  border-collapse: collapse;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px hsl(224, 100%, 83%)
}

.table__caption {
  caption-side: top;
  text-align: center;
  margin-top: 20px;
  color: hsl(231, 100%, 55%);
  margin-bottom: 10px;
  border: 3px solid hsl(231, 100%, 55%);
}

.table__tableRow:nth-child(even) {
  background: hsl(224, 100%, 83%);
}

.table__tableRow:hover {
  background-color: hsl(224, 100%, 63%);
}

.table__cell {
  border: 1px solid hsl(0, 0%, 80%);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.table__columnHeader {
  background-color: hsl(231, 100%, 55%);
  color: rgb(198, 216, 255);
}

.section {
  margin: 20px;
  line-height: 1, 5;
  text-indent: 15px;
}

.section__sectionHeader {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: hsl(229, 100%, 65%);
  font-weight: bold;
  text-shadow: 1px 1px 1px hsl(224, 100%, 83%);
}

.article {
  text-shadow: 0px 0px 1px hsl(0, 0%, 0%);
}

.article__articleHeader {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: hsl(229, 100%, 65%);
  font-weight: bold;
  padding-top: 30px;
}

.article__paragraph {
  color: rgb(0, 131, 39);
}

.article__paragraph--darkcolor {
  color: rgb(155, 77, 0);
}

.imageContainer {
  text-align: center;
}

.imageContainer__wImage {
  max-width: 400px;
  max-height: 400px;
  border: 2px solid hsl(219, 100%, 83%);
  border-radius: 2px;
  padding: 4px;
}

.imageContainer__boImage {
  max-width: 200px;
  max-height: 300px;
  border: 2px solid hsl(219, 100%, 83%);
  border-radius: 2px;
  padding: 4px;
}

.imageContainer__wpImage {
  max-width: 200px;
  max-height: 280px;
  border: 2px solid hsl(219, 100%, 83%);
  border-radius: 2px;
  padding: 4px;
}

.imageContainer__plioImage {
  max-width: 350px;
  max-height: 400px;
  border: 2px solid hsl(219, 100%, 83%);
  border-radius: 2px;
  padding: 4px;
}

.conteiner {
  overflow-x: auto;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.element {
  height: auto;
  background-color: hsl(219, 100%, 83%);
  border: 6px outset hsl(212, 100%, 50%);
  border-radius: 20px;
  padding: 20px 50px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 5px hsl(219, 100%, 83%);
}

.element__asideLink {
  margin: auto;
  color: hsl(231, 100%, 55%);
  text-decoration: none;
  padding-inline: 1px;
}

.element__asideLink:focus {
  outline: 2px solid hsl(212, 100%, 50%);
}

.element__asideLink:hover {
  color: hsl(268, 100%, 50%);
  outline: none;
}

.element__asideLink:active {
  color: hsl(348, 83%, 47%);
}